@font-face {
    font-family: 'HarmonyOS Sans';
    src: url('/fonts/HarmonyOS_Sans/harmonyos_sans_bold.woff2') format('woff2'),
         url('/fonts/HarmonyOS_Sans/harmonyos_sans_bold.woff') format('woff'),
         url('/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

@font-face {
     font-family: 'PingFang SC';
    src:  url('/fonts/PingFang/PingFang_bold.woff') format('woff'),
          url('/fonts/PingFang/PingFang_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  /* 使用字体 */
body {
     font-family: 'PingFang SC', 'HarmonyOS Sans';
   }

