.views-content{
    width: 100%;
    height: 100%;
    // background-image: url('@/assets/images/pc/pcBg.jpg');
    background-size: 100% 100%;
    .views-content-main{
      width: 100%;
      height: 100%;
      .content-main-box{
        width: 100%;
        height: 100%;
        position: relative;
        .video-backg{
          width: 100%;
          height: 100%;
          border-radius: 56px;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          video{
            width: 100%;
            height: 100%;
            border-radius: 56px;
          }
        }
        .main-content{
          width: 100%;
          height: 100%;
          // position: absolute;
          // top: 0;
          // left: 0;
          // z-index: 999;
          // border-radius: 56px;
        }
        .home{
            width: 100%;
            height: 100vh;
            .main-content-header{
                width: 100%;
                height: 120px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: 10;
                .content-header-main{
                    width: 1500px;
                    height: 120px;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    .aetrix-logo{
                        width: 68px;
                        height: 50px;
                        flex-shrink:0;
                        margin: 35px 0;
                        a{
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            img{
                                width: 220px;
                                height: 50px;
                                display: inline-block;
                            }
                        }
                    }
                    .header-flex{
                        width: auto;
                        height: 120px;
                        .header-flex-mian{
                            width: 100%;
                            height: 120px;
                            display: flex;
                            .exhibit-five-search{
                                width: 346px;
                                margin: 24px 0;
                                cursor: pointer;
                            }
                            .userInfo{
                                width: auto;
                                height: 65px;
                                display: inline-block;
                                margin: 27.5px 30px;
                                a{
                                    width: 100%;
                                    display: flex;
                                    text-decoration: none;
                                    .userInfo-avatar{
                                        width: 38px;
                                        height: 38px;
                                        margin: 13.5px 8px 13.5px 0;
                                        flex-shrink:0;
                                        overflow: hidden;
                                        border-radius: 50%;
                                        img{
                                            width: 100%;
                                            height: 100%;
                                            display: inline-block;
                                            border-radius: 50%;
                                        }
                                    }
                                    .userInfo-content{
                                        flex: 1;
                                        margin: 13.5px 0;
                                        display: inline-block;
                                        .name{
                                            font-weight: 400;
                                            font-size: 20px;
                                            color: rgba(255, 255, 255, 1);
                                            line-height: 1;
                                            font-size: 16px;
                                        }
                                        .numbering{
                                            font-weight: 400;
                                            font-size: 12px;
                                            color: rgba(255, 255, 255, 1);
                                            line-height: 1;
                                            margin-top: 8px;
                                        }
                                    }
                                }
                                .userInfo-login{
                                    width: 129px;
                                    height: 45px;
                                    cursor: pointer;
                                    border-radius: 12px;
                                    margin: 10px 0;
                                    // background: url(@/assets/images/home/login_but_bg.png) no-repeat center center;
                                    // background-size: 100% 100%;
                                    // &:hover{
                                    //     background: url(@/assets/images/home/login_but_bg_hover.png) no-repeat center center;
                                    //     background-size: 100% 100%;
                                    // }
                                    .userInfo-login-mian{
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
                                        justify-content: center;
                                        .login-main-icon{
                                            font-size: 20px;
                                            color: rgb(255, 255, 255, 1);
                                            margin-right: 8px;
                                            line-height: 40px;
                                            i{
                                                font-size: 24px;
                                                display: inline-block;
                                            }
                                        }
                                        .login-main-text{
                                            font-size: 18px;
                                            color: rgb(255, 255, 255, 1);
                                            line-height: 40px;
                                            display: inline-block;
                                        }
                                    }
                                }
                            }
                            .aetrix-menu{
                                width: 58px;
                                height: 58px;
                                cursor: pointer;
                                margin-top: 32px;
                                .aetrix-menu-but{
                                    width: 100%;
                                    height: 100%;
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        display: inline-block;
                                    }
                                    i{
                                        font-size: 38px;
                                        color: #FFFFFF;
                                        display: inline-block;
                                        line-height: 58px;
                                    }
                                }
                                .menu-content{
                                    width: 240px;
                                    height: auto;
                                    border-radius: 30px;
                                    position: fixed;
                                    top: 120px;
                                    right: 42px;
                                    z-index: -1;
                                    transition: all 0.3s;
                                    background: rgba(255, 255, 255, 0.5);
                                    backdrop-filter: blur(9px);
                                    .menu-content-main{
                                        width: 100%;
                                        margin: 20px 0 20px 0;
                                        ul{
                                            margin: 0;
                                            padding: 0 20px;
                                            li{
                                                width: 100%;
                                                height: 58px;
                                                font-weight: 400;
                                                font-size: 22px;
                                                color: #333333;
                                                line-height: 58px;
                                                list-style-type: none;
                                                text-align: center;
                                                
                                                border-radius: 30px;
                                                a{
                                                    color: #333333;
                                                    text-decoration: inherit;
                                                }
                                                &:hover{
                                                    color: #333333;
                                                    a{
                                                        color: #333333;
                                                    }
                                                }
                                            }
                                            .flag{
                                                background: rgba(131,131,131,0.15);
                                                a{
                                                  color: #333333;  
                                                }
                                            }
                                        }
                                    }
                                }
                            }
          
                        }
                    }
                }
            }
            .menu-content-view{
                width: 100%;
                position: absolute;
                top: 120px;
                left: 0;
                right: 0;
                bottom: 0;
                .view-main{
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    position: relative;
                    .suspMenu-view{
                        width: 54px;
                        position: absolute;
                        top: 50%;
                        left: 30px;
                        transform: translateY(-50%);
                        z-index: 10;
                        .suspMenu-view-pos{
                            width: 100%;
                            height: 100%;
                            .suspMenu-view-main{
                                width: 100%;
                                height: auto;
                                border-radius: 26px;
                                border: 1px solid rgba(255, 255, 255, .15);
                                background: rgba(23, 23, 54, .45);
                                backdrop-filter: blur(10px);
                                position: relative;
                                ul{
                                    margin: 0;
                                    padding: 0;
                                    padding: 16px 8px;
                                    li{
                                        width: 36px;
                                        height: 36px;
                                        border-radius: 50%;
                                        list-style-type: none;
                                        margin-bottom: 15px;
                                        
                                        a{
                                            width: 100%;
                                            height: 100%;
                                            display: block;
                                            text-align: center;
                                            i{
                                                font-size: 24px;
                                                color: rgba(255, 255, 255, .65);
                                                display: block;
                                                line-height: 36px;
                                            }
                                        }
                                        i{
                                            width: 100%;
                                            font-size: 24px;
                                            color: rgba(255, 255, 255, .65);
                                            text-align: center;
                                            line-height: 36px;
                                            display: block;
                                            cursor: pointer;
                                        }
                                        &:hover{
                                            box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.6), 0 -2px 5px rgba(99, 99, 217, 0.4);
                                            background: linear-gradient(to bottom, rgba(60, 60, 150, .3), rgba(40, 40, 100, .2));
                                            i{
                                                color: #FFFFFF;
                                            }
                                        }
                                        &:last-child{
                                            margin-bottom: 0;
                                        }
                                    }
                                    .flag{
                                        box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.6), 0 -2px 5px rgba(99, 99, 217, 0.4);
                                        background: linear-gradient(to bottom, rgba(60, 60, 150, .4), rgba(40, 40, 100, .3));
                                        i{
                                            color: #FFFFFF;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .view-main-content{
                        width: 100%;
                        height: 100%;
                        overflow-y: auto;
                        scrollbar-width: none;
                        &::-webkit-scrollbar {
                            display: none;
                        }
                        .main-content-display{
                            width: 100%;
                            height: auto;
                            clear: both;
                            overflow: hidden;
                            .display-main{
                                width: 1500px;
                                display: flex;
                                margin: 0 auto;
                                .display-main-l{
                                    width: 805px;
                                    height: 340px;
                                    position: relative;
                                    .exhibit-five-links{
                                        width: 175px;
                                        height: 62px;
                                        line-height: 62px;
                                        border-radius: 27px;
                                        position: absolute;
                                        right: 0;
                                        bottom: 2px;
                                        z-index: 1;
                                        cursor: pointer;
                                        .five-links-main{
                                            width: 165px;
                                            height: 52px;
                                            margin: 5px auto;
                                            border-radius: 26px;
                                            span{
                                                width: 100%;
                                                font-size: 22px;
                                                color: #FFFFFF;
                                                letter-spacing: 3px;
                                                line-height: 50px;
                                                text-align: center;
                                                display: block;
                                            }
                                        }
                                    }
                                    .exhibit{
                                        height: 262px;
                                        font-size: 42px;
                                        color: #111111;
                                        font-weight: bold;
                                        line-height: 1;
                                        padding: 36px 52px;
                                        font-family: 'HarmonyOS Sans';
                                        box-shadow: 12px 12px 208px 12px rgb(0, 0, 0, .38);
                                        mask-image: url(@/assets/images/home/home_t_bg.png);
                                        -webkit-mask-image: url(@/assets/images/home/home_t_bg.png);
                                        mask-repeat: no-repeat;
                                        -webkit-mask-repeat: no-repeat;
                                        mask-size: 100% 100%;
                                        background-color: rgb(255, 255, 255, .18);
                                        backdrop-filter: blur(24px);
                                        background-image: url(@/assets/images/home/home_t_bg_m.png);
                                        background-size: 100% 100%;
                                        .exhibit-main{
                                            width: 100%;
                                            height: 100%;
                                            .exhibit-one{
                                                display: block;
                                                i{
                                                    width: 28px;
                                                    height: 28px;
                                                    margin-right: 16px;
                                                    display: inline-block;
                                                    border-radius: 50%;
                                                    background-color: rgba(255, 255, 255, .68);
                                                }
                                            }
                                            .exhibit-tow{
                                                display: block;
                                                margin-top: 14px;
                                                span{
                                                    color: #FFFFFF;
                                                }
                                                i{
                                                    width: 28px;
                                                    height: 28px;
                                                    margin: 0 16px;
                                                    display: inline-block;
                                                    border-radius: 50%;
                                                    background-color: rgba(0, 0, 0, .68);
                                                }
                                            }
                                            .exhibit-three{
                                                display: block;
                                                margin-top: 14px;
                                            }
                                            .exhibit-four{
                                                display: block;
                                                margin-top: 14px;
                                                i{
                                                    width: 28px;
                                                    height: 28px;
                                                    margin-right: 16px;
                                                    display: inline-block;
                                                    border-radius: 50%;
                                                    background-color: rgba(255, 255, 255, .68);
                                                }
                                            }
                                            .exhibit-five{
                                                display: inline-block;
                                                margin-top: 14px;
                                            }
                                        
              
                                    }
                                    }
                                }
                                .display-main-r{
                                    width: 694px;
                                    flex-shrink:0;
                                    .main-r-content{
                                        width: 100%;
                                        height: auto;
                                        .guide{
                                            width: 340px;
                                            height: 340px;
                                            border-radius: 50%;
                                            margin-right: 61px;
                                            font-size: 118px;
                                            color: #FFFFFF;
                                            line-height: 340px;
                                            text-align: center;
                                            box-shadow: 12px 12px 208px 12px rgb(0, 0, 0, .08);
                                            border: 1px solid rgba(255, 255, 255, .38);
                                            background-color: rgb(255, 255, 255, .26);
                                            backdrop-filter: blur(20px);
                                        }
                                    }
                                }
                            }
                            .stat{
                                width: 1500px;
                                height: 99px;
                                float: right;
                                display: inline-block;
                                position: relative;
                                .stat-main{
                                    width: 322px;
                                    height: 96px;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    background: linear-gradient(to right, rgba(255, 255, 255, .18) 0%, rgba(255, 255, 255, 0.38) 100%);
                                    border-radius: 32px 0px 0px 32px;
                                    backdrop-filter: blur(24px);
                                    border: 1px solid rgb(255, 255, 255, 1);
                                    border-right: none;
                                    :deep(.el-statistic){
                                        font-size: 14px;
                                        .el-statistic__content{
                                            .el-statistic__number{
                                                font-weight: 400;
                                                color: rgba(255, 255, 255, 0.8);
                                                font-size: 36px;
                                                line-height: 1;
                                                text-align: left;
                                                font-style: normal;
                                                text-transform: none;
                                            }
                                            .el-statistic__suffix{
                                                color: rgba(255, 255, 255, 0.8);
                                                span{
                                                    font-size: 36px;
                                                }
                                            }
                                        }
                                    }
                                    .stat-main-content{
                                        width: auto;
                                        height: 96px;
                                        line-height: 1;
                                        border-right: none;
                                        display: flex;
                                        .stat-content-l{
                                            flex-grow: 1;
                                            display: inline-block;
                                            margin: 21px 20px 22px 20px;
                                            .item-num{
                                                text-align: center;
                                                white-space: nowrap;
                                                span{
                                                    font-family: 'HarmonyOS Sans';
                                                    font-weight: bold;
                                                    font-size: 36px;
                                                    line-height: 28px;
                                                    color: rgb(255, 255, 255, .8);
                                                    display: inline-block;
                                                }
                                                i{
                                                    font-weight: bold;
                                                    font-size: 36px;
                                                    line-height: 28px;
                                                    color:rgb(255, 255, 255, .8);
                                                    font-style: normal;
                                                    display: inline-block;
                                                }
                                            }
                                            .item-name{
                                                font-weight: 400;
                                                font-size: 14px;
                                                color: rgb(255, 255, 255, .8);
                                                text-align: center;
                                                margin-top: 7px;
                                            }
                                        }
                                        .stat-content-c{
                                            width: 1px;
                                            height: 50px;
                                            flex-shrink: 0;
                                            display: inline-block;
                                            background: transparent;
                                            opacity: 0.6;
                                            margin: 23px 0;
                                        }
                                        .stat-content-r{
                                            flex-grow: 1;
                                            display: inline-block;
                                            margin: 21px 20px 21px 20px;
                                            .item-num{
                                                white-space: nowrap;
                                                text-align: center;
                                                span{
                                                    font-family: 'HarmonyOS Sans';
                                                    font-weight: bold;
                                                    font-size: 36px;
                                                    line-height: 28px;
                                                    color: rgb(255, 255, 255, .8);
                                                    display: inline-block;
                                                }
                                                i{
                                                    font-weight: bold;
                                                    font-size: 36px;
                                                    line-height: 28px;
                                                    color: rgb(255, 255, 255, .8);
                                                    font-style: normal;
                                                    display: inline-block;
                                                }
                                            }
                                            .item-name{
                                                font-weight: 400;
                                                font-size: 14px;
                                                color: rgb(255, 255, 255, .8);
                                                text-align: center;
                                                margin-top: 7px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .main-content-works{
                            width: 1500px;
                            height: 191px;
                            position: relative;
                            margin: 50px auto 0 auto;
                            .works-main-c{
                                width: 158px;
                                height: 158px;
                                position: absolute;
                                top: -96px;
                                left: 50%;
                                z-index: 1;
                                transform: translateX(-50%);
                                .works-main-video{
                                    width: 158px;
                                    height: 158px;
                                    background: rgba(255,255,255,0.28);
                                    border-radius: 50%;
                                    border: 1px solid #FFFFFF;
                                    cursor: pointer;
                                    transition: all 0.1s ease-in-out;
                                    img{
                                        width: 36px;
                                        height: 39px;
                                        display: inline-block;
                                        margin: 59.5px 61px;
                                    }
                                    &:hover{
                                        animation: shake 0.5s infinite;
                                    }
                                }
                                @keyframes shake {
                                    0%, 100% {
                                        transform: 
                                            translateX(0)
                                            scale(1);
                                    }
                                    10%, 30%, 50%, 70%, 90% {
                                        transform: 
                                            translateX(-10px)
                                            scale(1.1);
                                    }
                                    20%, 40%, 60%, 80% {
                                        transform: 
                                            translateX(10px)
                                            scale(1);
                                    }
                                }
                            }
                            .works-main{
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: space-between;
                                mask-image: url(@/assets/images/home/home_c_bg.png);
                                -webkit-mask-image: url(@/assets/images/home/home_c_bg.png);
                                mask-repeat: no-repeat;
                                -webkit-mask-repeat: no-repeat;
                                mask-size: 100% 100%;
                                background-color: rgb(255, 255, 255, .18);
                                backdrop-filter: blur(24px);
                                background-image: url(@/assets/images/home/home_c_bg_m.png);
                                background-size: 100% 100%;
                                .portfolio{
                                    width: 475px;
                                    height: 149px;
                                    border-radius: 24px;
                                    margin: 20px 0 21px 0;
                                    background: rgba(255,255,255,0.16);
                                    .portfolio-main{
                                        width: 100%;
                                        display: flex;
                                        cursor: pointer;
                                        .portfolio-main-data{
                                            width: 260px;
                                            height: 100%;
                                            flex-shrink:0;
                                            .main-data-item{
                                                display: inline-block;
                                                clear: both;
                                                padding: 15px 24px 16px 30px;
                                                .item-style{
                                                    width: 72px;
                                                    height: 118px;
                                                    border-radius: 16px;
                                                    overflow: hidden;
                                                    float: left;
                                                    img{
                                                        width: 100%;
                                                        height: 100%;
                                                        object-fit: cover;
                                                        object-position: center;
                                                    }
                                                }
                                                .item-one{
                                                    display: inline-block;
                                                    position: relative;
                                                    z-index: 8;
                                                }
                                                .item-tow{
                                                    margin-left: -26px;
                                                    position: relative;
                                                    z-index: 9;
                                                }
                                                .item-three{
                                                    margin-left: -26px;
                                                    font-family: 'HarmonyOS Sans';
                                                    font-weight: 500;
                                                    font-size: 18px;
                                                    color: #FFFFFF;
                                                    border: 1px solid rgb(255, 255, 255, .38);
                                                    background-color: rgb(255, 255, 255, .18);
                                                    backdrop-filter: blur(24px);
                                                    text-align: center;
                                                    line-height: 118px;
                                                    position: relative;
                                                    z-index: 10;
                                                    :deep(.el-statistic){
                                                        font-size: 14px;
                                                        display: inline-block;
                                                        .el-statistic__content{
                                                            .el-statistic__number{
                                                                font-weight: 400;
                                                                color: rgba(255, 255, 255, 0.8);
                                                                font-size: 18px;
                                                                line-height: 1;
                                                                text-align: left;
                                                                font-style: normal;
                                                                text-transform: none;
                                                            }
                                                            .el-statistic__suffix{
                                                                color: rgba(255, 255, 255, 0.8);
                                                                span{
                                                                    font-size: 18px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .portfolio-main-int{
                                            flex: 1;
                                            width: 0;
                                            img{
                                                width: 108px;
                                                height: 108px;
                                                margin: 20px 0;
                                            }
                                        }
                                        &:hover{
                                            .portfolio-main-link{
                                                .link-but{
                                                    img{
                                                        transition: all 0.3s;
                                                        transform: translateY(-5px);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .works-main-l{
                                    width: 475px;
                                    height: 192px;
                                    border-right: none;
                                    .portfolio{
                                        margin-left: 30px;
                                    }
                                }
                                .works-main-r{
                                    height: 192px;
                                    .portfolio{
                                        margin-right: 30px;
                                        .portfolio-main{
                                            .portfolio-main-data{
                                                .main-data-item{
                                                    .item-style{
                                                        width: 118px;
                                                        height: 72px;
                                                        float:  initial;
                                                        border-radius: 16px;
                                                        img{
                                                            width: 118px;
                                                            height: 72px;
                                                        };
                                                    }
                                                    .item-one{
                                                        display: inline-block;
                                                        position: relative;
                                                        z-index: 8;
                                                    }
                                                    .item-tow{
                                                        margin-left: 26px;
                                                        position: relative;
                                                        top: -50px;
                                                        z-index: 9;
                                                    }
                                                    .item-three{
                                                        width: 118px;
                                                        height: 72px;
                                                        margin-left: 0px;
                                                        font-family: 'HarmonyOS Sans';
                                                        font-weight: 500;
                                                        font-size: 18px;
                                                        color: #FFFFFF;
                                                        border: 1px solid rgb(255, 255, 255, .38);
                                                        background-color: rgb(255, 255, 255, .38);
                                                        backdrop-filter: blur(90px);
                                                        text-align: center;
                                                        line-height: 72px;
                                                        position: relative;
                                                        top: -100px;
                                                        
                                                        z-index: 10;
                                                    }
                                                }
                                            }
                                            
                                        }
                                        
                                    }
                                }
                                
                            }
                        }
                        .main-content-caropusel{
                            width: 1500px;
                            height: 320px;
                            margin: 38px auto 0 auto;
                            .caropusel-main{
                               width: 100%;
                               height: 100%;
                               display: flex;
                               justify-content: space-between;
                                mask-image: url(@/assets/images/home/home_b_bg.png);
                                -webkit-mask-image: url(@/assets/images/home/home_b_bg.png);
                                mask-repeat: no-repeat;
                                -webkit-mask-repeat: no-repeat;
                                mask-size: 100% 100%;
                                background-color: rgb(255, 255, 255, .18);
                                backdrop-filter: blur(24px);
                                background-image: url(@/assets/images/home/home_b_bg_m.png);
                                background-size: 100% 100%;
                               .caropusel-main-l{
                                    width: 527px;
                                    height: 100%;
                                    border-right: none;
                                    border-radius: 54px 0 0 54px;
                                    flex-shrink:0;
                                    .caropusel-int{
                                        padding: 58px 0 54px 59px;
                                        .chinese{
                                            font-weight: 600;
                                            font-size: 24px;
                                            color: #FFFFFF;
                                            line-height: 1;
                                            margin-bottom: 53px;
                                            p{
                                                margin-bottom: 15.5px;
                                            }
                                            p:last-child{
                                                margin-bottom: 0;
                                            }
                                        }
                                        .caropusel-link{
                                            width: 165px;
                                            height: 52px;
                                            cursor: pointer;
                                            line-height: 52px;
                                            border-radius: 14px;
                                            .caropusel-link-main{
                                                height: 54px;
                                                padding: 0 33px;
                                                border-radius: 12px;
                                                span{
                                                    width: 100%;
                                                    font-size: 18px;
                                                    color: #FFFFFF;
                                                    letter-spacing: 3px;
                                                    display: block;
                                                    line-height: 54px;
                                                }
                                            }
                                        }
                                    }
                               }
                               .caropusel-main-r{
                                    flex: 1;
                                    width: 0;
                                    .caropusel-main-video{
                                        width: 100%;
                                        display: flex;
                                        .video-content{
                                            width: 0;
                                            height: 320px;
                                            flex: 1;
                                            border-left: none;
                                            border-right: none;
                                            .video-content-main{
                                                width: 100%;
                                                .module-name{
                                                    font-weight: 600;
                                                    font-size: 26px;
                                                    color: #111111;
                                                    line-height: 1;
                                                    padding-left: 12px;
                                                    margin: 43px 0 26px 0;
                                                }
                                                .banner-view{
                                                    width: 100%;
                                                    .banner-view-progress{
                                                        width: 100%;
                                                        padding-left: 12px;
                                                        :deep(.arco-progress-line){
                                                            background-color: inherit;
                                                            border: 1px solid #111111;
                                                        }
                                                        .parting-line{
                                                            width: 100%;
                                                            height: 5px;
                                                            border-radius: 4px;
                                                            background-color: inherit;
                                                            border: 1px solid #111111;
                                                            span{
                                                                width: 155px;
                                                                height: 5px;
                                                                display: block;
                                                                background: #111111;
                                                            }
                                                        }
                                                    }
                                                    .banner-view-mainBody{
                                                        width: 100%;
                                                        height: auto;
                                                    }
                                                }
                                            }
                                        }
                                        .banner-but{
                                            width: 286px;
                                            height: 320px;
                                            flex-shrink:0;
                                            position: relative;
                                            .but-bg{
                                                width: 100%;
                                                height: 382px;
                                                position: absolute;
                                                z-index: -1;
                                                img{
                                                    width: 100%;
                                                    height: 382px;
                                                    display: block;
                                                }
                                            }
                                            .banner-but-roll{
                                                width: 40px;
                                                position: absolute;
                                                top: 208px;
                                                left: 130px;
                                                .roll-switch{
                                                    width: 18px;
                                                    padding: 0 11px;
                                                }
                                                p{
                                                    margin-top: 11px;
                                                    text-align: center;
                                                    font-weight: 400;
                                                    font-size: 18px;
                                                    color: #000000;
                                                }
                                            }
                                            .banner-but-swiper{
                                                width: 38px;
                                                position: absolute;
                                                top: 80px;
                                                right: 30px;
                                                .but-swiper-main{
                                                    width: 100%;
                                                    height: auto;
                                                    ul{
                                                        margin: 0;
                                                        padding: 0;
                                                        li{
                                                            width: 38px;
                                                            height: 62px;
                                                            font-size: 26px;
                                                            font-weight: 500;
                                                            line-height: 80px;
                                                            text-align: center;
                                                            color: #111111;
                                                            border-radius: 19px;
                                                            margin-top: -10px;
                                                            cursor: pointer;
                                                            list-style-type: none;
                                                            background: #C1C1C1;
                                                            font-family: 'HarmonyOS Sans';
                                                        }
                                                        .active{
                                                            border: none;
                                                            background: #FFFFFF;
                                                            position: relative;
                                                            z-index: 1;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                               }
                            }
                        }
                        .main-content-foot{
                            width: 1500px;
                            height: 109px;
                            margin: 0 auto;
                            .foot-content{
                                width: 100%;
                                clear: both;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 109px;
                                color: rgba(255, 255, 255, 1);
                                .foot-content-l{
                                    float: left;
                                }
                                .foot-content-r{
                                    float: right;
                                    i{
                                        margin: 0 8px;
                                        font-style: normal;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
      }
    }
  }
  @keyframes bounceInUp {
      // 0% {
      //     opacity: 0;
      //     -webkit-transform: translate3d(0, 100%, 0);
      //     transform: translate3d(0, 100%, 0);
      // }
      // 100% {
      //     opacity: 1;
      //     -webkit-transform: translate3d(0, 0, 0);
      //     transform: translate3d(0, 0, 0);
      // }

      from,
      60%,
      75%,
      90%,
      to {
          -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      from {
          opacity: 0;
          -webkit-transform: translate3d(0, 300px, 0) scaleY(1);
          transform: translate3d(0, 300px, 0) scaleY(1);
      }
      
      60% {
          opacity: 1;
          -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
          transform: translate3d(0, -20px, 0) scaleY(0.9);
      }

      75% {
          -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
          transform: translate3d(0, 10px, 0) scaleY(0.95);
      }

      90% {
          -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
          transform: translate3d(0, -5px, 0) scaleY(0.985);
      }

      to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
      }
  }
  .animate__bounceInUp {
      animation: bounceInUp;
  }